.label
{
 -fx-font-size: 22pt;
 -fx-font-style: italic;
 -fx-font-weight: bold;
 -fx-text-fill: white;


}

.button {
  -fx-background-color: red;
  -fx-text-fill: white;
  -fx-background-radius: 42px;
 -fx-font-size: 18pt;
 -fx-font-style: italic;
 -fx-font-weight: bold;

}
.button:hover{
 -fx-background-color: yellow;
  -fx-text-fill: black;
  -fx-background-radius: 42px;
 -fx-font-size: 18pt;
 -fx-font-style: italic;
 -fx-font-weight: bold;
}

.root{
 -fx-background-color: green;
}
